@use "../util" as *;

.homepage-intro {
    text-align: center;
    margin-block-end: var(--spacing-1200);
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("../../public/assets/images/pattern-squiggle-1.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    &__title {
        font-weight: var(--fw-extrabold);
        margin-block-end: var(--spacing-150);

        span {
            position: relative;
            padding-inline: var(--spacing-150);
            margin-inline-end: calc(var(--spacing-150) * -1);
            anchor-name: --title-span;
            white-space: nowrap;

            &::before {
                content: "";
                background-color: var(--c-orange-500);
                opacity: 0.4;
                border-radius: var(--br-4);
                z-index: -1;
                position: absolute;
                inset-inline-start: 0;
                inset-inline-end: 0;
                inset-block-start: 50%;
                inset-block-end: 10px;

                @supports (anchor-name: --title-span) {
                    position: absolute;
                    position-anchor: --title-span;
                    inset-inline-start: anchor(left);
                    inset-inline-end: anchor(right);
                    inset-block-start: anchor(center);
                    inset-block-end: calc(anchor(bottom) + 10px);
                }
            }
        }
    }

    &__description {
        margin-block-end: var(--spacing-500);
    }

    &__btn {
        margin-block-end: var(--spacing-1000);
    }

    &__image-wrapper {
        inline-size: 100%;
        border-radius: var(--br-12);
        overflow: clip;
        box-shadow: var(--shadow-white);
        z-index: 1;
        position: relative;
    }

    &__image {
        inline-size: 100%;
        block-size: auto;
    }
}

.homepage-features {
    margin-block-end: var(--spacing-800);
    h2 {
        text-align: center;
    }

    &__grid {
        display: grid;
        gap: var(--spacing-250);
        margin-block-start: var(--spacing-400);
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: var(--spacing-300);

        p {
            margin-block-start: calc(var(--spacing-150) * -1);
        }
    }

    &__icon-wrapper {
        background-color: var(--c-white);
        padding: var(--spacing-50) var(--spacing-100);
        border-radius: var(--br-12);
        flex-grow: 1;
        display: flex;
        place-items: center;
    }
}

.homepage-reallife {
    padding-block-start: var(--spacing-800);
    margin-block: 0 var(--spacing-800);

    &__grid {
        display: grid;
        gap: var(--spacing-400);
    }

    img {
        inline-size: 100%;
        block-size: auto;
        border-radius: var(--br-16);
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-250);

        span {
            position: relative;
            padding-inline: var(--spacing-50);
            margin-inline-end: calc(var(--spacing-50) * -1);
            anchor-name: --minutes-span;
            white-space: nowrap;
            font-weight: var(--fw-extrabold);

            &::before {
                content: "";
                background-color: var(--c-orange-500);
                border-radius: var(--br-4);
                z-index: -1;
                position: absolute;
                inset-inline-start: 0;
                inset-inline-end: 0;
                inset-block-start: 35%;
                inset-block-end: 10px;

                @supports (anchor-name: --minutes-span) {
                    position: absolute;
                    position-anchor: --minutes-span;
                    inset-inline-start: anchor(left);
                    inset-inline-end: anchor(right);
                    inset-block-start: calc(anchor(top) + 40%);
                    inset-block-end: anchor(bottom);
                }
            }
        }
    }
}

@include breakpoint(md) {
    .homepage-features {
        margin-block-end: var(--spacing-1000);
        &__grid {
            gap: var(--spacing-400);
            margin-block-start: var(--spacing-600);
        }
    }

    .homepage-reallife {
        padding-block-start: var(--spacing-1000);
        margin-block: 0 var(--spacing-1000);

        &__grid {
            gap: var(--spacing-500);
        }
    }
}

@include breakpoint(lg) {
    .homepage-features {
        margin-block-end: var(--spacing-1200);
        &__grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .homepage-reallife {
        padding-block-start: var(--spacing-1200);
        margin-block: 0 var(--spacing-1200);

        &__grid {
            grid-template-columns: repeat(2, 1fr);
            gap: var(--spacing-600);
            align-items: center;
        }
    }
}
