@use "../util" as *;

@layer layout {
    .recipes-intro {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-150);
        margin-inline: auto;
        margin-block-end: var(--spacing-800);
    }

    .recipe-list {
        &__grid {
            grid-template-columns: repeat(
                auto-fill,
                minmax(min(var(--card-size), 100%), 1fr)
            );
        }

        &__empty {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-200);
            align-items: start;
        }
    }

    .page-recipes + .footer.has-full-line {
        border-top-width: 0;
    }
}

@include breakpoint(lg) {
    .recipes-intro {
        text-align: center;
        max-inline-size: 70ch;
    }

    .recipe-list {
        margin-block-end: var(--spacing-1200);
    }

    .page-recipes + .footer.has-full-line {
        border-top-width: 1px;
    }
}
