@use "../util" as *;

@layer components {
    .footer {
        padding-block: var(--spacing-500);
        margin-block-start: auto;
        border-block-start: 1px solid var(--c-neutral-300);

        &__content {
            inline-size: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: var(--spacing-400);
        }

        &__text {
            color: var(--c-neutral-900);
            font-size: var(--fs-16);
        }

        &__social {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-200);

            @include breakpoint(md) {
                align-items: flex-end;
            }
        }

        &__social-links {
            display: flex;
            gap: var(--spacing-300);
        }
    }
}
