@use "../util" as *;

@layer components {
    .footer {
        padding-block: var(--spacing-500);
        margin-block-start: auto;

        &__content {
            inline-size: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--spacing-300);
        }

        &__text {
            color: var(--c-neutral-900);
            font-size: var(--fs-16);
        }

        &__social {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-200);

            @include breakpoint(md) {
                align-items: flex-end;
            }
        }

        &__social-links {
            display: flex;
            align-items: center;
            gap: var(--spacing-300);
        }
    }
}

@include breakpoint(md) {
    .footer {
        &__content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: var(--spacing-400);
        }
    }
}

@media (hover: hover) {
    @layer components {
        .footer {
            &__social-links {
                a {
                    img {
                        transition: transform var(--transition-base);
                    }

                    &:hover img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
