@use "../util" as *;

@layer components {
    .recipe-card {
        background-color: var(--color-surface-primary);
        border: 1px solid var(--c-neutral-300);
        border-radius: var(--br-10);
        overflow: clip;
        padding: var(--spacing-100);
        transition: all var(--transition-base);

        &:hover {
            transform: translateY(-#{rem(4)});
            box-shadow: var(--shadow-lg);
            border-color: var(--color-border-hover);
        }

        &__link {
            display: flex;
            flex-direction: column;
            block-size: 100%;
        }

        &__image-wrapper {
            position: relative;
            inline-size: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            background-color: var(--color-bg-tertiary);
        }

        &__image {
            inline-size: 100%;
            block-size: 100%;
            object-fit: cover;

            border-radius: var(--br-10);
            transition: transform var(--transition-slow);

            // .recipe-card:hover & {
            //     transform: scale(1.05);
            // }
        }

        &__content {
            margin-block: var(--spacing-200);
            padding-inline: var(--spacing-100);
            display: flex;
            flex-direction: column;
            gap: var(--spacing-200);
            font-size: var(--fs-16);
            flex-grow: 1;
        }

        &__title {
            flex-grow: 1;
        }

        &__description {
            margin-block-start: calc(var(--spacing-75) * -1);
            color: var(--color-text-secondary);
        }

        &__meta {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-200);
            color: var(--c-neutral-900);
        }

        &__meta-item {
            display: flex;
            align-items: center;
            gap: var(--spacing-75);

            img {
                inline-size: #{rem(16)};
                block-size: #{rem(16)};
                flex-shrink: 0;
            }
        }

        &__button {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            &.btn {
                border-radius: var(--br-round);
                padding-block: var(--spacing-150);
            }
        }
    }
}
